body {
  margin: 0;
  background-color: rgb(30, 30, 65);
}

.container {
  background-color: rgb(193, 193, 193);
  margin: 0.5rem;
  border-radius: 10px;
  position: relative;
}

.zoom {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.hand-weel-zoom {
  display: none;
}

@media (min-width: 768px) {
  .hand-weel-zoom {
    display: block;
  }

  .hand-finger-zoom {
    display: none;
  }
}
